#multiples {
	position: absolute;
	left: 0;
	top: 210px;
	width: 100%;
	display: flex;
	justify-content: center;
	color: #ffffff;
	font-weight: 900;

	.container {
		background-color: #d47800e0;
		border-radius: 4px;
		padding: 20px;

		form {
			display: flex;
			> * {
				margin: 5px;
			}
		}
	}
}
